.DS_Store
.springBeans
*.log
*.bak
bin/
classes/
target/

# Eclipse
.settings
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea
out/
test-output/
atlassian-ide-plugin.xml
.gradletasknamecache

*.settings/
*bin/
*target/

*rebel.xml

*.factorypath